.sign-in {
  width: 30%;
  margin: 50px auto;
  border: solid black 2px;
  padding: 0px 50px 50px 50px;
  border-radius: 5px;
}
.link {
  font-family: sans-serif;
  text-decoration: none;
  color: blue;
  font-size: 15px;
  font-weight: bold;
  padding: 20px 0px;
}
